.item {
  padding: 10px 20px;
  cursor: pointer;
}

.options {
  position: absolute;
  z-index: 10000;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 2px 8px var(--listbox-bg);
}
