@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';
@import './themes//purple.scss';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);
  border-radius: 20px;
  border: 1px solid var(--accent-redesigned);
}
