.Icon {
  color: var(--icon-redesigned);

  & path {
    transition: all 0.3s;
  }
}

.IconButton {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.IconButton:hover .Icon {
  color: var(--accent-redesigned);
}
