:root {
  --font-family-main: consolas, 'Time New Roman', serif;
  --font-family-text: 'Nunito Sans', sans-serif;
  --font-family-header: 'Roboto', sans-serif;

  // Все остальное
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-line-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-with-collapsed: 80px;
  --primary-color: rgb(54 52 52);
  --bg-color: rgb(210 210 234);

  // z - индексы
  --modal-z-index: 10;

  // Цвета для модальных окон
  --overlay-color: rgb(0 0 0 / 60%);
  --red-light: rgb(246 32 32);
  --red-dark: rgb(188 25 25);

  // redesigned
  // s
  --font-s-redesigned: var(--font-size-s) / var(--font-line-s)
    var(--font-family-text);

  // m
  --font-m-redesigned: var(--font-size-m) / var(--font-line-m)
    var(--font-family-text);

  // l
  --font-l-redesigned: var(--font-size-l) / var(--font-line-l)
    var(--font-family-header);

  // xl
  --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl)
    var(--font-family-header);
}
