.AppLink {
  transition: color 0.3s;
}

.primary {
  color: var(--text-redesigned);

  &:hover {
    color: var(--accent-redesigned);
  }
}

// .secondary {
//   color: var(--primary-color);
// }

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: 0.8;
  }
}
