.SideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  flex-shrink: 0;
  transition: width 0.2s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
}

.lang {
  margin-left: 12px;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  margin-left: 20px;
}

.collapsed {
  width: var(--sidebar-with-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: 0.2s opacity;
  }
}