.SideBar {
  position: relative;
  width: 220px;
  height: 100%;
  background: var(--light-bg-redesigned);
  border-radius: 32px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.items {
  margin-top: 20px;
}

.collapsed {
  width: 50px;

  .collapseBtn {
    transform: rotate(-90deg);
  }

  .items {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .switchers {
    flex-direction: column;
    gap: 8px;
  }
}
