.item {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
}

.link {
  white-space: nowrap;
}

.collapsed {
  .link {
    display: none;
  }

  &.item {
    padding: 0;
    justify-content: center;
  }
}

.active {
  background: linear-gradient(
    89.97deg,
    rgb(94 211 243 / 30%) 1.15%,
    rgb(94 211 243 / 0%) 99.97%
  );
  box-shadow: inset 2px 0 0 var(--accent-redesigned);
}
