.BIG {
  .img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    margin-top: 12px;
  }

  .textBlock {
    max-height: 72px;
    overflow: hidden;
  }
}

.SMALL {
  width: 230px;
  cursor: pointer;
  transition: all 0.2s;

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);
  }

  .infoWrapper {
    margin-top: 8px;
  }

  .types {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title p {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
