.popup {
  position: relative;
}

.trigger {
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.selected {
  opacity: 0.9;
  background-color: var(--secondary-color);
  cursor: default;
} 

.disabled {
  opacity: 0.6;
  cursor: default;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}