.title {
  color: var(--text-redesigned);
}

.text {
  color: var(--text-redesigned);
}

.title + .text {
  margin-top: 6px;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.accent {
  .title {
    color: var(--accent-redesigned);
  }

  .text {
    color: var(--accent-redesigned);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size_s {
  .title {
    font: var(--font-m-redesigned);
  }

  .subtitle {
    font: var(--font-s-redesigned);
  }
}

.size_m {
  .title {
    font: var(--font-l-redesigned);
  }

  .subtitle {
    font: var(--font-m-redesigned);
  }
}

.size_l {
  .title {
    font: var(--font-xl-redesigned);
  }

  .subtitle {
    font: var(--font-l-redesigned);
  }
}
