.title {
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);
}

.title + .text {
  margin-top: 6px;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.inverted {
  .title {
    color: var(--inverted-primary-color);
  }

  .text {
    color: var(--inverted-secondary-color);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .subtitle  {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .subtitle  {
    font: var(--font-l);
  }
}