.app_dark_theme {
  --bg-color: rgb(94 94 241);
  --inverted-bg-color: rgb(210 210 234);
  --primary-color: rgb(13 191 13);
  --secondary-color: rgb(109 252 109);
  --inverted-primary-color: rgb(45 87 222);
  --inverted-secondary-color: rgb(75 127 225);

  // skeleton
  --skeleton-color: rgb(41 41 169);
  --skeleton-shadow: rgb(41 41 169);
  
  // code
  --code-bg: rgb(152 152 251);
  --card-bg: rgb(105 105 255);
  --listbox-bg: rgb(105 105 255);
}