.app_ligth_theme {
  --inverted-bg-color: rgb(94 94 241);
  --primary-color: rgb(0 25 50);
  --secondary-color: rgb(75 127 225);
  --inverted-primary-color: rgb(13 191 13);
  --inverted-secondary-color: rgb(109 252 109);

  // skeleton
  --skeleton-color: #9595a1;
  --skeleton-shadow: #9595a1;

  // code
  --code-bg: #fff;
}