.app_ligth_theme {
  --inverted-bg-color: rgb(94 94 241);
  --primary-color: rgb(0 25 50);
  --secondary-color: rgb(75 127 225);
  --inverted-primary-color: rgb(13 191 13);
  --inverted-secondary-color: rgb(109 252 109);

  // skeleton
  --skeleton-color: #9595a1;
  --skeleton-shadow: #9595a1;

  // code
  --code-bg: #fff;
  --card-bg: rgb(105 105 255);
  --listbox-bg: rgb(105 105 255);

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;
}
