.app_purple_theme {
  --bg-color: #f8f4fb;
  --inverted-bg-color: #760dd2;
  --primary-color: #6171d5;
  --secondary-color: #bb91db;
  --inverted-primary-color: #f8f4fb;
  --inverted-secondary-color: #19171a;

  // skeleton
  --skeleton-color: #919fff;
  --skeleton-shadow: #919fff;

  // code
  --code-bg: #fff;
  --card-bg: hsl(0deg 12% 91%);
  --listbox-bg: hsl(0deg 12% 91%);

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
