.NotificationButton {
  min-height: 150px;
  max-height: 300px;
  width: 500px !important;
  overflow-y: auto;
  padding-right: 12px;
}

.NotificationButtonMobile {
  width: 100% !important;
  max-height: 80vh;
  min-height: 0;
}