.MainLayout {
  min-height: 100%;
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: 284px 1fr 176px;
}

.sidebar {
  grid-area: sidebar;
  justify-self: center;
  padding: 32px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.content {
  grid-area: content;
  justify-self: center;
  max-width: 1200px;
  padding: 32px;
}

.rightbar {
  grid-area: rightbar;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  justify-self: end;
}

.toolbar {
  justify-self: end;
  height: 100%;
}
