.Dropdown {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);

  & .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  & .item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.active {
  background: var(--inverted-primary-color);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}