.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 4px 15px;
  border-radius: 8px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  font: inherit !important;

  &:hover {
    opacity: 0.8;

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.clear {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
}

.outline {
  background: none;
  outline: none;

  &.normal {
    border: 2px solid var(--icon-redesigned);
  }

  &.success {
    border: 2px solid var(--save-redesigned);
  }

  &.error {
    border: 2px solid var(--cancel-redesigned);
  }

  &:hover {
    opacity: 0.8;
  }
}

.filled {
  border: none;
  outline: none;
  border-radius: 34px;

  &.normal {
    background: var(--light-bg-redesigned);
  }

  &.success {
    background: var(--save-redesigned);
  }

  &.error {
    background: var(--cancel-redesigned);
  }
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.fullWidth {
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
}

.disabled {
  cursor: default;
}
