.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 15px;
  border-radius: 8px;
  transition: color 0.3s;

  &:hover {
    color: var(--accent-redesigned);
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.clear {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.fullWidth {
  width: 100%;
}
