.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  color: var(--primary-color);
  pointer-events: none;
  transition: opacity 0.3s, z-index 0.3s;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  max-width: 60%;
  transition: transform 0.3s;
  transform: scale(0);
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}
