.Input {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  width: 100%;
  height: 38px;

  input {
    background: none;
    outline: none;
    border: none;
    color: var(--text-redesigned);
    width: 100%;

    &::placeholder {
      color: var(--hint-redesigned);
    }
  }
}

.Input:has(input:focus) {
  border: 2px solid var(--accent-redesigned);

  & svg {
    color: var(--accent-redesigned);
  }
}

.Input:has(input:focus) .readonly {
  opacity: 0.5;
  cursor: default;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}
