.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: 8px;
}

.input {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}